@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {c
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* { 
 font-family: 'Noto Sans KR', sans-serif;
}

body,ul,li{
  list-style:none;
  margin:0;
  padding:0;
}

a{
  text-decoration:none;
  color:inherit;
}

.redesign{
  width:1920px;
  height:5415px;
}
header{
  width:1920px;
  height:150px;
/*   background-color:skyblue; */
}

input {
  border:none;
}
input:focus {
  outline:none;
}




/* 커스텀 */



.header__top{
  width:100%;
  height:75px;
  background-color:#FF623E;
  display:flex;
}

.menu-1{
  display:flex;
  width:885px;
  height:100%;
  justify-content:center;
  align-items:center;

}
.menu-1 > li {
  padding:25px 20px;
  height:100%;
  width:
}


.menu-2 > li{
  padding:15px;
}

.header__top ul > li:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.header__top ul > li > a{
  font-size:16px;
  color:#ffffff;
  font-weight:bold;
  width:100%;
  height:75px;
}

.header__top ul > li:hover > a {
  background-color: antiquewhite;
  cursor: pointer;
  color:#FF623E;
}

.menu-2{
  display:flex;
  width:885px;
  height:100%;
  justify-content:center;
}

.icon > .fa-solid{
  font-size:24px;
  color:#ffffff;
}

.logo{
  width:150px;
  height:150px;
}

.icon-box{
  font-size:0;
  display:block;
  padding:15px 35px 0 0;
  /* 상 우 하 좌 */
}

.icon{
  display:flex;
  justify-content:center;
}

.header__bottom{
  width:100%;
  height:75px;
  display:flex;
}

.rank{
  width: 885px;
  height:75px;
  display:flex;
}
.rank .swiper {
  width:214px;
  height:75px;
  margin-left:280px;
  /* background-color:pink; */
}

.more-rank{
  width:24px;
  height:24px;
/*   border:1px solid yellow; */
}

.more-rank::after{
  display:none;
}

.more-rank > i {
  width:24px;
  font-size:24px;
}
.rank-num{
  font-size:16px;
  font-weight:bold;
  color:#FF623E;
  cursor:default;
}

.product-name{
  font-size:16px;
  margin-left:20px;
}

.swiper-slide{
  width:214px;
  height:75px;
}
.ranking{
  width:214px;
  height:75px;
  display:flex;
  align-items: center;
  /* background-color: antiquewhite; */
}

.search-box{
  width:885px;
  height:100%;
  /* background-color: antiquewhite; */
  margin-left:150px;
  display: flex;
  align-items: center;
  position:relative;
}

/* input 노멀라이즈 */
input {
  border:none;
}
input:focus {
  outline:none;
}

/* input 커스텀 */


.input-box {
  width: 270px;
  position: relative;
  text-align: center;
  margin-left: 285px;
}

input {
  width:270px;
  height:40px;
  border-radius: 20px;
  border: 1px solid #FF623E;
  margin: 10px 0;
  padding: 10px 1px;
}
.fa-search {
  position: absolute;
  right: 10px;
  top: 11px;
  margin: 0;
  color: #FF623E;
}
label {
  position: absolute;
  left: 20px;
  top: 10px;
  margin: 0;
  font-size: 14px;
  color:rgb(99, 98, 98);
}

.input-box__placeholder > label.focus {
  display: none;
}



.slider-box-1{
  width:100%;
  height:700px;
}

.main{
  width:1200px;
  height:3985px;
  /* background-color:rgb(139, 139, 133); */
  margin-left:auto;
  margin-right:auto;
}


.title{
  width:100%;
  height:100px;
  display: block;
  /* background-color: beige; */
  font-weight: bold;
  font-size: 30pt;
  text-align: center;
  padding-top:20px;
  box-sizing: border-box;
}



:root {
    --swiper-theme-color: #ff623e !important;
}

.slider-box-1{
  margin-bottom: 160px;
}

.slider-box-1 .swiper {
  width: 100%;
  height:700px;
  position: relative;
}

.swiper-slide {
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:bold;
  position: relative;
}

.swiper-slide > span {
  position:absolute;
  letter-spacing:10px;
  transition:3s;
  font-weight:bold;
  color:#ffffff;
}
.jamong > span{
  text-shadow:1px 1px 10px #FC2B05;
}

.orange > span{
  text-shadow:1px 1px 10px #B01801;
}

.lemon{
  text-shadow:1px 1px 10px #591B04;
}

.main-text{
  top:60px;
  left:230px;
  font-size: 64px;
}

.sub-text{
  top:150px;
  left:230px;
  font-size:32px;
}

.swiper-slide.swiper-slide-active > span {
  letter-spacing:0;
}

.swiper-pagination{
  color:#ffffff;
}

.slide-prev{
  margin-left:100px;
}

.slide-next{
  margin-right:100px;
}


.slider-box-1 .swiper-button-prev:hover,
.slider-box-1 .swiper-button-next:hover{
  color:#ffffff;
  opacity: 0.5;
}

.slider-box-1 .swiper-button-prev:hover >.round,
.slider-box-1 .swiper-button-next:hover >.round{
  background-color: #FF623E;
}


.round{
    width:100px;
  height:100px;
  background-color:#ffffff;
  position:absolute;
  opacity:0.25;
  border-radius: 100%;
}

.slide-prev > .round{
  margin-left:10px;
}

.special{
  width:1200px;
  height:650px;
  
  margin-bottom: 160px;
}
h3{
  width:100%;
  height:100px;
  display: block;
  /* background-color: beige; */
  font-weight: bold;
  font-size: 30pt;
  text-align: center;
  padding-top:20px;
  box-sizing: border-box;
}

.special-box{
  display: flex;
}

.special{
  border-radius: 100px;
}
.special__box{
  position: relative;
  border-radius: 50px 0 50px 0;
  /* 시계방향 */
  /* background-color: aqua; */
  overflow: hidden;
  box-shadow: 3px 10px 15px -7px rgba(0,0,0,1);
}

.special__box-2{
  transition: 0.5s;
}

.special-text{
  position: absolute;
  width:100%;
  height:130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom:0;
  color: #ffffff;
  font-family: 'Cafe24Danjunghae';
}

.special__name{
  height:50px;
  flex: none;
  order: 0;
  flex-grow: 0;
  align-items: center;
  display: flex;
  padding: 0 10px;
  border-radius: 50px;
  font-size: 20pt;
  position:absolute;
  top:-30px;
}



.special__main{
  font-size:30px;
}

.special__sub{
  font-size: 15px;
}


.special__box-1 > .special-text{
  background-color: #A40106;
}

.special__box-1 > .special-text > .special__name{
  background-color: #A40106;
}

.special__box-2 > .special-text{
  background-color: #FE7804;
}
.special__box-2 > .special-text > .special__name{
  background-color: #FE7804;
}
.special__box-3 > .special-text{
  background-color: #DCB73C;
}

.special__box-3 > .special-text > .special__name{
  background-color: #DCB73C;
}

.hidden-box{
  width:850px;
  height:550px;
  background-color: #A40106;
  border-radius: 0 0 50px 0;
  position: absolute;
  left:710px;
  z-index: 999;
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
  padding:45px;
  box-sizing: border-box;
  display: none;
}


.hidden__button{
  width:100%;
  height:80px;
  display: flex;
  align-items: center;
  margin-top:40px;
}

.hidden__button > .buy{
  width:550px;
  height:80px;
  background-color:#FF623E;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 20px;
}

.hidden__button > .shopping{
  background-color:#ffffff;
  color:#FF623E;
  border-radius: 10px;
  width:100px;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 10px;
}
.hidden__button > .heart{
  background-color:#ffffff;
  color:#FF623E;
  border-radius: 10px;
  width:100px;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hidden-main{
  font-weight: bold;
  height:100px;
  font-size: 50px;
}

/* .special__box-2:hover {
  transform:translate(-400px,0);
} */

/* .special__box-1:hover ~ .hidden-box-1{
  display: block;
} */

.contents{
  width:1200px;
  height:1230px;
  /* background-color: #DCB73C; */
}



.btn{
  width:100%;
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:50px;
}

.btn li{
  height:30px;
  line-height:29px;
  padding:0 100px;
}

.btn a {
  display: block;
  width:100%;
  height:100%;
  font-size: 20px;
}

.btn a.active{
  color:#FF623E;
  font-weight: bold;
  border-bottom:3px solid #FF623E;
}


.bwrap{
  width:1200px;
  height:1230px;
  /* background-color:pink; */
  display:flex;
  flex-direction:column;
}


.bwrap section {
  width:100%;
  height:100%;
  gap:50px;
}

.bwrap section ul {
  width:100%;
  height:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:50px;
  flex-wrap:wrap;
}


.bwrap section li{
  width:360px;
  height:450px;
  display:flex;
  position:relative;
}

.health, .sea {
  display: none;
}

.text{
  display:flex;
  width:360px;
  height:84px;
  position:absolute;
  bottom:0;
  flex-direction: column;
}

.text > .pop {
  display: flex;
  border-radius: 80px / 40px;
  gap: 0 5px;
}

.text > .pop > .new {
  border:3px solid #FFCE31;
  color: #FFCE31;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text > .pop > .sale {
  border:3px solid #FF623E;
  color: #FF623E;
  border-radius: 50% / 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text > .name {
  font-size: 24px;
  font-weight: bold;
}
.text > .price {
  font-size:16px;
  display: flex;
  gap: 0 10px;
}

.text > .price > .sale{
  color:darkgray;
  text-decoration: line-through;
}

.more-product {
  display: flex;
  justify-content: center;
  margin-top:50px;
}

.more-product > a {
  color:#828282;
  font-size: 14px;
  border: 1px solid #FF623E;
  display: flex;
  justify-content: center;
  align-items: center;
  width:220px;
  height:30px;
}

.more-product i {
  color:#FF623E;
}


.banner{
  width:1200px;
  height:235px;
  display: flex;
  padding:160px 0;
  margin-bottom:160px;
}

.banner > div {
  box-shadow: 3px 10px 15px -7px rgba(0,0,0,1);
}


.recipe{
  width:1200px;
  height:760px;
  display: flex;
  margin-top:160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipe__box{
  display:flex;
  justify-content:center;
  flex-direction:column;
  gap:5px 0;
}


.recipe__box p{
  text-align: center;
}

.recipe__box .name {
  font-size: 20px;
}

.recipe__box .level{
  font-size: 12px;
}

.recipe__box .squre{
  display: flex;
  flex-direction: row;
  gap:10px;
  width: 420px;
  justify-content:center;
  margin-bottom:20px;
}

.recipe__box .squre__1 {
  width:40px;
  height:20px;
  background-color:#FF623E;
}
.recipe__box .squre__2 {
  width:40px;
  height:20px;
  background-color:#FF623E;
  opacity: 85%;
}
.recipe__box .squre__3 {
  width:40px;
  height:20px;
  background-color:#FF623E;
  opacity: 70%;
}
.recipe__box .squre__4 {
  width:40px;
  height:20px;
  background-color:#FF623E;
  opacity: 55%;
}
.recipe__box .squre__5 {
  width:40px;
  height:20px;
  background-color:#FF623E;
  opacity: 40%;
}

.recipe__box a {
  display:flex;
  justify-content:center;
}

.recipe__box-2 > .recipe__text{
  width:330px;
  height:100px;
  display: flex;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.recipe__box-2 > .recipe__text > .two {
  font-size: 40px;
  color:#ff623e;
  text-decoration: underline;
}

.recipe__look{
  font-size: 12px;
  color:#828282;
  margin-top:0 10px;
  height:24px;
  display: flex;
  justify-content: center;
}

.recipe__look i {
  color:#ff623e;
  display: flex;
  align-items: center;

}

.recipe__look a {
  display: flex;
  justify-content: center;
  align-items: center;
}



.best-review{
  width:1200px;
  height:400px;
  margin-top:160px;
}

.review-box{
  height:100px;
  display: flex;
  padding-left:10px;
}

.img-box{
  width:80px;
  height:80px;
  padding: 0 10px;
  border-radius: 100%;
  overflow:hidden;
  position: relative;
}


.img-box > img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.text-box{
  padding:0 10px;
  color:#585656;
  font-size: 16px;
}
.top-text{
  display: flex;
  width:1060px;
  height:30px;
  border-bottom: 1px solid #C0C0C0;
  gap:0 10px;
}

.text-box > .review-contents{
  width:1060px;
  height:70px;
  font-size: 15px;
}

.review-name{
  font-weight:bold;
}
.star{
  color:#FFCE31;
}